{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Website Builder{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <!-- rest of the file... -->

  <body class="bg-gray-100">
    <div class="container mx-auto">{% block content %} {% endblock %}</div>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
